<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <style>
        #map { height: 500px; width: 60%; margin-top: 1rem; }
    </style>
</head>
<body>
    <h1>meetko</h1>
    <div id="map"></div>
    <div class="account-info">
        <a href="{{ url_for('account') }}">{{ current_user.username }}</a>
        <a href="{{ url_for('logout') }}" class="back-link">Logout</a>
    </div>

    <div class="btn-container">
        <a href="{{url_for('carmeet')}}" class="btn btn-main">Create a Car Meet</span></a>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <script>
        var map = L.map('map').setView([46.1512, 14.9955], 8);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
        }).addTo(map);
    </script>
</body>
</html>
